BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

PointerAlignment: Left
SortIncludes: false
